@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

  .bouncing-text {
    top: 102px;
    left: -435px;
    position: relative;
    display: flex;
    font-size: 45px;
    font-weight: 900;
    font-family: "Luckiest Guy", cursive;
  }
  
  .bouncing-text:hover {
      cursor: pointer;
  }

  .t, .r, .y, .m, .e {
    position: relative;
    color: #f9f9f9;
    text-shadow: 0 3px #287017, 0 5px #4e2881, 0 7px #808080;
  }
  
  .t {
    animation: bounce 1s ease infinite;
    -webkit-animation: bounce 1s ease infinite;
  }
  
  .r {
    animation: bounce 1s ease infinite .1s;
    -webkit-animation: bounce 1s ease infinite .1s;
  }
  
  .y {
    padding-right: 4%;
    animation: bounce 1s ease infinite .2s;
    -webkit-animation: bounce 1s ease infinite .2s;
  }
  
  .m {
    animation: bounce 1s ease infinite .3s;
    -webkit-animation: bounce 1s ease infinite .3s;
  
  }

  .e {
    animation: bounce 1s ease infinite .2s;
    -webkit-animation: bounce 1s ease infinite .2s;
  
  }

   @keyframes bounce {
          0%   { transform: scale(1,1) translateY(0); }
          10%  { transform: scale(1.1,.9) translateY(0); }
          30%  { transform: scale(.9,1.1)   translateY(-55px);}
          50%  { transform: scale(1.05,.95) translateY(0); }
          58%  { transform: scale(1,1) translateY(-7px); }
          65%  { transform: scale(1,1) translateY(0);}
          100% { transform: scale(1,1) translateY(0);}
      }
  
  @-webkit-keyframes bounce {
         0%   { transform: scale(1,1) translateY(0); }
          10%  { transform: scale(1.1,.9) translateY(0); }
          30%  { transform: scale(.9,1.1)   translateY(-55px);}
          50%  { transform: scale(1.05,.95) translateY(0); }
          58%  { transform: scale(1,1) translateY(-7px);}
          65%  { transform: scale(1,1) translateY(0);}
          100% { transform: scale(1,1) translateY(0);} 
  }

  .riddler-gif {
    top: 23px;
    left: 41%;
    border-bottom-left-radius: 7%;
    width: 20%;
    opacity: .87;
    border-radius: 50%;
    position: relative;
  }

  .riddler {
    width: 23%;
    left: 116%;
    position: absolute;
    top: 12%;
    cursor: pointer;
  }

  .clicked-message1 {
    left: 132%;
    position: absolute;
    top: 20%;
    font-size: 80px;
    color: #f9f9f9;
  }

  .clicked-message2 {
    left: -46%;
    position: absolute;
    top: 11%;
    font-size: 70px;
    color: #f9f9f9;
  }

  .clicked-message4 {
    position: absolute;
    left: 130%;
    top: -90px;
    font-size: 90px;
    color: #f9f9f9;
  }

  .clicked-message5 {
    position: absolute;
    left: -45%;
    top: 40%;
    font-size: 70px;
    color: #f9f9f9;
  }

  .cube {
    width: 100px;
    left: -46%;
    position: absolute;
    top: 11%;
    cursor: pointer;
  }

  @keyframes slide-from-left {
    from {
      left: 150%;
    }
    to {
      left: -100%;
    }
  }
  
  /* Element to be moved. Must have position: absolute */
  .question-mark {
    position: absolute;
    left: 100%;
    width: 20%;
    top: 10px;
    transform: translateX(-50%);
    animation-name: slide-from-left;
    animation-duration: 8s;
    animation-timing-function: linear;
    cursor: pointer;
  }

  .question-mark2 {
    position: absolute;
    left: 142%;
    width: 15%;
    top: -154px;
    cursor: pointer;
  }

  .hat{
    
    position: absolute;
    left: -45%;
    top: 55%;
    width: 15%;
    cursor: pointer;
  }

  
  .puzzle-img {
    position: absolute;
    top: -137px;
    left: 126%;
    width: 110px;
    cursor: pointer;
  }