.result {
  min-height: 300px !important;
  width: 85% !important;
}

@media screen and (min-height: 601px) {
  .result {
    height: 300px !important;
  }
}

@media screen and (max-height: 600px) {
  .result {
    height: 300px !important;
  }
}

.result-text {
  font-size: 2.5vh;
  position: relative;
  text-align: center;
  top: 72px;
  left: 6vh;
}

.button-retry {
  left: 27.5%;
  top: 181px;
  font-size: 80%;
  width: 100%;
  min-width: 50px;
  max-width: 300px;
}

.score {
  font-size: 4vh;
  left: 5vh;
  position: relative;
  text-align: center;
  top: 26px;
}

@media all and (max-width: 600px) {
  .button-retry {
    top: 24vw;
    left: 18vw;
    font-size: 3vw;
  }
}

@media all and (max-height: 700px) {
  .button-retry {
    top: 25vh;
    margin-top: -5%;
    left: 18vh;
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .result-text {
    font-size: 2vw;
  }
}
